#map-container {
	width:100%;
    height:75%;
	/*border: 1px solid red;*/

}

button#gen-map-button {
	width:100px;
}

canvas#map-canvas {
	width:100%;
	height:100%;
}

body, html, canvas {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

button {
    touch-action: manipulation;
}

.divider{
    margin: 5px;
}

.inline-block-children {
    display: inline-block;
}

.information-button {
    color: #0062CC;
}